<h1><%= @blogger.name %></h1>
<h2><%= @blogger.age %></h2>

<p>BIO: <%= @blogger.bio %></p>

<h5>Total likes: <%= @blogger.total_likes %></h5>
<%= link_to @blogger.featured_post, post_path(@blogger.featured_post), method: :delete%>
